body ,header{
  background-color: #343330;
  height: 100vh;
  color: whitesmoke;
}

header{
  /* position: relative; */
  /* overflow-y: hidden;/ */
}

#ma-bulle{
  /* background-color: #45462a; */
  text-align: center;
  padding: 0;
  height: 50vh;
}

#ma-bulle figure{
  margin: 0;
  padding: 0;

}

#moi{
  width: 45vh;
  height: auto;
  margin: 15px 0;
  border-radius: 50%;
  border: 5px solid #D5D5D5;
  
}

#welcome-msg{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 45vh;
  font-size: 2rem;
}

#welcome-msg h1{
  color: #fe7f2d;
  text-shadow: 2px 2px purple;
  font-weight: bolder;
}

#social-network{

}

#social-network ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

#social-network ul li{
  margin: 0 25px;
}

#social-network ul li a{
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 20px;
  text-align: center;
  font-size: 3rem;
}

#facebook{
  color: #1877f2 !important;
}

#youtube{
  color: #ff0000 !important;
}

#linkedin{
  color:  #007bb5 !important;
}

#twitter{
  color:  #1da1f2 !important;
}